ai-assistant-telegram/ai_assistant_telegram.json
{
  "name": "ai-assistant-telegram",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "your-email@example.com",
          "cachedResultName": "your-email@example.com"
        },
        "options": {
          "timeMin": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}",
          "fields": "=items(summary, start(dateTime))"
        }
      },
      "id": "9d49521d-34f1-4f8c-9b88-53c371dfcbba",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        5080,
        1280
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen for incoming events').first().json.message.from.id }}"
      },
      "id": "fa764b7e-347e-4a33-80a6-d5d133740a10",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        4840,
        1280
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}"
        }
      },
      "id": "072e1017-bec1-4520-9e3f-167004cb575c",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        4960,
        1280
      ],
      "typeVersion": 2.1,
      "webhookId": "40b4986e-0a0a-4679-baa0-834662bc788c"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "13828808-02c0-499d-906b-29b431a1bd9a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        4720,
        1280
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "F0IiuPTDVRfPrJhm",
          "name": "Your OpenAI API Key Name"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a35b5901-d78f-4794-ad39-0e0ac7dcb772",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        3920,
        960
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "MPcgv5LnXwlzRH5n",
          "name": "Your Telegram Bot Name"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "0753df6e-a7b4-418c-9287-3d79ad29627e",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        5360,
        960
      ],
      "typeVersion": 1.1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "b93940c1-09ff-4607-b321-92f48b8d91f8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        4280,
        960
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "97ef4d63-1a6d-44df-a7a1-dcaed039c1d7",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        4700,
        960
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "F0IiuPTDVRfPrJhm",
          "name": "Your OpenAI API Key Name"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "45202329-4aa8-4135-a122-63088ccedb93",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        4120,
        960
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events').item.json.message.voice.file_id }}"
      },
      "id": "f0902684-234d-4834-93a1-bfe2d88867fd",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        4460,
        960
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "MPcgv5LnXwlzRH5n",
          "name": "Your Telegram Bot Name"
        }
      }
    },
    {
      "parameters": {
        "content": "## Process Telegram Request\n",
        "height": 278.75,
        "width": 496.25,
        "color": 5
      },
      "id": "72cd1e8a-1f1c-4590-81fe-9f356813f98b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4100,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "databaseId": 146496,
        "tableId": 372174,
        "additionalOptions": {}
      },
      "id": "78e89e0b-fdfe-435b-8479-953a535390c8",
      "name": "Tasks",
      "type": "n8n-nodes-base.baserowTool",
      "position": [
        5200,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Useful for getting contact information. For example emails or phone numbers.",
        "databaseId": 146496,
        "tableId": 372177,
        "additionalOptions": {}
      },
      "id": "985c861f-a447-4932-9653-a6266969a66d",
      "name": "Contacts",
      "type": "n8n-nodes-base.baserowTool",
      "position": [
        5320,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a reliable AI assistant.\n\nCurrent date: {{ $now }}\n\nInstructions:\n\t•\tWhen retrieving emails, ignore anything marked as promotional.\n\t•\tWhen providing email summaries, always include the sender’s name, the date the message was received, the subject line, and a short description of the content.\n\t•\tIf the user doesn’t mention a specific date, assume they are referring to today.\n\t•\tUse the Baserow tool to respond to any task-related inquiries.\n\t•\tFor calendar questions, only include events relevant to the specific timeframe asked. For example, if the user asks about today’s events, list only those happening today. Avoid mentioning anything scheduled beyond one week unless directly requested."
        }
      },
      "id": "88eabfa0-9000-4a1f-99c8-e5039b8f0f3e",
      "name": "AI Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        4860,
        960
      ],
      "typeVersion": 1.6
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Assistant": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4cd08be5-5d83-4df5-8d6b-6a87319832c3",
  "meta": {
    "instanceId": "3e52bb5120dd343a0f14c058ead8f8920f2a26dabe38f06d535d69e6800da0fb"
  },
  "id": "JJI5MaQYwtDGhtFh",
  "tags": []
}
